.score {
    position: absolute;
    top: 20px;
    background-color: #CDD3E0;
    color: #030303;
    font-size: 18px;
    padding: 6px;
    padding-right: 30px;
    background-image: url("../img/gummy-bear.png");
    background-repeat: no-repeat;
    background-position: 96% 50%;
    border-radius: 12px;
}

.score .textScore {
  display: inline-block;
  vertical-align: middle;
}

#questions.hide {
  display: none;
}

#finalScore {
  display: none;
}

#finalScore.display {
  display: block;
  background-color: #BBC4D7;
  border: solid 8px #7788AB;
  padding: 10px 0px;
  color: #030303;
  border-radius: 30px;
  top: 100px;
  position: relative;
}

#finalScore.display .score_display {
  text-align: center;
  font-size: 40px;
}

#finalScore.display .gummybearsList {
  padding: 30px;
}

#finalScore.display .gummybearsList .failedGummy {
  opacity: 0.2;
}

.message {
  position: relative;
  top: 140px;
  width: 800px;
  left: 10px;
  text-align: center;
  z-index: 1000;
}

.message.victory {
  background-color: #CFEFCB;
  width: 50%;
  margin: auto;
  color: #030303;
  padding: 8px;
  font-size: 30px;
  letter-spacing: 5px;
  border-radius: 10px;
  border: solid 4px #53994B;
  font-weight: bold;
  opacity: 0;
}

.message.failure {
  background-color: #BE2121;
  width: 50%;
  margin: auto;
  color: #CFCFCF;
  padding: 8px;
  font-size: 30px;
  border-radius: 10px;
  border: solid 4px #720404;
  font-weight: bold;
  opacity: 0;
}

.question {
  position: absolute;
  top: 300px;
  width: 800px;
  padding: 10px;
}

.question .type {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #ACACAC;
}

.question .explanations {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.question .content {
  background-color: #BBC4D7;
  border: solid 2px #7788AB;
  border-radius: 15px;
  width: 600px;
  margin: auto;
  padding: 10px;
  color: #030303;
}

.question .content .answerForm {
  margin-bottom: 4px;
  font-size: 16px;
  font-style: italic;
}

.question .validate,
.question .next {
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 40px;
  background-color: #BBC4D7;
  border: solid 2px #7788AB;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  color: #030303;
  font-weight: bold;
}

.question .next {
  display: none;
  background-color: #6FAE95;
  border: solid 2px #38765D;
}

.question .next.display {
  display: block;
}

.question .validate.hide {
  display: none;
}

.question .validate:hover,
.question .next:hover {
  -webkit-transition: all 0.3s;
  transform: rotate(5deg);
  cursor: pointer;
}

.question .answers {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  display: none;
}

.question .answers.displayAnswers {
  display: block;
}

.question .answers .goodAnswer {
  color: #088021;
}

.question .answers .wrongAnswer {
  color: #A6193A;;
}

.alert {
  position: relative;
  top: -400px;
  font-size: 24px;
  z-index: 500;
  margin: auto;
  width: fit-content;
  box-shadow: 0px 0px 50px black;
  display: block;
  padding: 5px 10px;
  background-color: #D55B64;
  border-radius: 10px;
  border: solid 4px #551015;
  opacity: 0;
}
